
@{
    ViewBag.Title = "Resumen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="fw-bold mt-4">BIENVENIDO</h1>

<hr />

<div class="row">
    <h4 class="fw-bold mb-3">Resumen:</h4>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-warning mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total clientes: </h6>
                        <h6 id="totalClientes"></h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-user fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer border-warning d-flex align-items-center justify-content-between">
                <a class="small text-warning stretched-link" href="@Url.Action("Usuarios", "Home")">Ver usuarios</a>
                <div class="small text-warning"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-info mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total ventas:</h6>
                        <h6 id="totalVentas"></h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-shopping-bag fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer border-info d-flex align-items-center justify-content-between">
                <a class="small text-info stretched-link" href="@Url.Action("Ventas", "Home")">Ver ventas</a>
                <div class="small text-info"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <hr />
    <h4 class="fw-bold mb-3">Mantenimiento:</h4>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-success mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total categorias: </h6>
                        <h6 id="totalCategorias"></h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-table fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-dark border-success d-flex align-items-center justify-content-between">
                <a class="small text-success stretched-link" href="@Url.Action("Categoria", "Mantenimiento")">Ver categorias</a>
                <div class="small text-success"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-primary mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total marcas: </h6>
                        <h6 id="totalMarcas"></h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-bookmark fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-dark border-primary d-flex align-items-center justify-content-between">
                <a class="small text-primary stretched-link" href="@Url.Action("Marca", "Mantenimiento")">Ver marcas</a>
                <div class="small text-primary"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-danger mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Total productos: </h6>
                        <h6 id="totalProductos"></h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-boxes fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-dark border-danger d-flex align-items-center justify-content-between">
                <a class="small text-danger stretched-link" href="@Url.Action("Producto", "Mantenimiento")">Ver productos</a>
                <div class="small text-danger"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script>

        jQuery.ajax({
            url: '@Url.Action("VistaResumen", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var objeto = data._resultado;

                $("#totalClientes").text(objeto.TotalCliente)
                $("#totalVentas").text(objeto.TotalVenta)
                $("#totalCategorias").text(objeto.TotalCategoria)
                $("#totalMarcas").text(objeto.TotalMarca)
                $("#totalProductos").text(objeto.TotalProducto)

            }
        });

    </script>

}